
/* Hey, let's be friends! http://twitter.com/pubnub */

body, div, span, img {
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 20px;
    margin: 0;
    padding: 0;
}

/* // -----------------------------------------------------------------------
   // CALL
   // -------------------------------------------------------------------- */
#pubnub-background {
    z-index: 10;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    height: 460px;
}
.pubnub-screen {
    position: relative;
    width: 320px;
    height: 460px;
}
#pubnub-call {
    z-index: 500;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;

    width: 320px;
    height: 460px;

    background: #696869;
    background: #696869 url(../img/mobile-bg.jpg);
}

.pubnub-call-header {
    border-top: 1px solid rgba(255,255,255,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);

    line-height: 0px;
    height: 90px;

    background: rgb(174,188,191);
    background: -moz-linear-gradient(top, rgba(174,188,191,0.8) 0%, rgba(110,119,116,0.8) 50%, rgba(10,14,10,0.8) 51%, rgba(10,8,9,0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,0.8)), color-stop(50%,rgba(110,119,116,0.8)), color-stop(51%,rgba(10,14,10,0.8)), color-stop(100%,rgba(10,8,9,0.8)));
    background: -webkit-linear-gradient(top, rgba(174,188,191,0.8) 0%,rgba(110,119,116,0.8) 50%,rgba(10,14,10,0.8) 51%,rgba(10,8,9,0.8) 100%);
    background: -o-linear-gradient(top, rgba(174,188,191,0.8) 0%,rgba(110,119,116,0.8) 50%,rgba(10,14,10,0.8) 51%,rgba(10,8,9,0.8) 100%);
    background: -ms-linear-gradient(top, rgba(174,188,191,0.8) 0%,rgba(110,119,116,0.8) 50%,rgba(10,14,10,0.8) 51%,rgba(10,8,9,0.8) 100%);
    background: linear-gradient(to bottom, rgba(174,188,191,0.8) 0%,rgba(110,119,116,0.8) 50%,rgba(10,14,10,0.8) 51%,rgba(10,8,9,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 );
}
.pubnub-call-header-contact {
    font-weight: 400;
    font-size: 36px;
    line-height: 57px;
    height: 60px;
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}
.pubnub-call-header-detail {
    font-weight: 400;
    font-size: 20px;
    line-height: 15px;
    height: 30px;
    text-align: center;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.6);
}

.pubnub-call-button-area {
    position: absolute;
    bottom: 0px;
    height: 100px;
    line-height: 134px;
    width: 320px;
    text-align: center;

    background: rgb(174,188,191);
    background: -moz-linear-gradient(top, rgba(174,188,191,0.9) 0%, rgba(110,119,116,0.9) 50%, rgba(10,14,10,0.9) 51%, rgba(10,8,9,0.9) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(174,188,191,0.9)), color-stop(50%,rgba(110,119,116,0.9)), color-stop(51%,rgba(10,14,10,0.9)), color-stop(100%,rgba(10,8,9,0.9)));
    background: -webkit-linear-gradient(top, rgba(174,188,191,0.9) 0%,rgba(110,119,116,0.9) 50%,rgba(10,14,10,0.9) 51%,rgba(10,8,9,0.9) 100%);
    background: -o-linear-gradient(top, rgba(174,188,191,0.9) 0%,rgba(110,119,116,0.9) 50%,rgba(10,14,10,0.9) 51%,rgba(10,8,9,0.9) 100%);
    background: -ms-linear-gradient(top, rgba(174,188,191,0.9) 0%,rgba(110,119,116,0.9) 50%,rgba(10,14,10,0.9) 51%,rgba(10,8,9,0.9) 100%);
    background: linear-gradient(to bottom, rgba(174,188,191,0.9) 0%,rgba(110,119,116,0.9) 50%,rgba(10,14,10,0.9) 51%,rgba(10,8,9,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aebcbf', endColorstr='#0a0809',GradientType=0 );
}

.call-button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 120px;
    height: 40px;
    font-size: 0px;
    text-align: center;

    -webkit-border-radius: 12px;
    border-radius: 12px;

    border: 3px solid rgba(0,0,0,0.8);
}

.call-button-text,
.call-button-text-out {
    position: absolute;
    top: 0px;
    left: 48px;

    cursor: pointer;
    font-size: 17px;
    height: 40px;
    line-height: 40px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
}
.call-button-text-out {
    font-size: 19px;
}

.phone-icon-answer,
.phone-icon-decline {
    position: absolute;
    top: 0px;
    left: 8px;
    background: transparent url(../img/phone-icon.png) 0px 0px no-repeat;
    width: 36px;
    height: 40px;
}
.phone-icon-answer {
    background: transparent url(../img/phone-icon.png) -45px 4px no-repeat;
}

.answer:hover {
    background: #8ae234;
    border: 3px solid rgba(0,100,0,0.8);
}
.answer:active {
    background: #4e9a06;
    border: 3px solid rgba(0,100,0,0.8);
}
.decline:hover {
    background: #ef2929;
    border: 3px solid rgba(100,0,0,0.8);
}
.decline:active {
    background: #a40000;
    border: 3px solid rgba(100,0,0,0.8);
}

.end {
    width: 250px;
}
.end-text {
    left: 110px;
    font-weight: 700;
    font-size: 18px;
}
.end-icon {
    left: 60px;
}
.answer {
    margin-left: 10px;
    background: rgb(191,210,85);
    background: -moz-linear-gradient(top, rgba(191,210,85,1) 0%, rgba(142,185,42,1) 50%, rgba(114,170,0,1) 51%, rgba(158,203,45,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(191,210,85,1)), color-stop(50%,rgba(142,185,42,1)), color-stop(51%,rgba(114,170,0,1)), color-stop(100%,rgba(158,203,45,1)));
    background: -webkit-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    background: -o-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    background: -ms-linear-gradient(top, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 );
}

.decline {
    background: rgb(243,197,189);
    background: -moz-linear-gradient(top, rgba(243,197,189,1) 0%, rgba(232,108,87,1) 50%, rgba(234,40,3,1) 51%, rgba(199,34,0,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(243,197,189,1)), color-stop(50%,rgba(232,108,87,1)), color-stop(51%,rgba(234,40,3,1)), color-stop(100%,rgba(199,34,0,1)));
    background: -webkit-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(199,34,0,1) 100%);
    background: -o-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(199,34,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(199,34,0,1) 100%);
    background: linear-gradient(to bottom, rgba(243,197,189,1) 0%,rgba(232,108,87,1) 50%,rgba(234,40,3,1) 51%,rgba(199,34,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3c5bd', endColorstr='#c72200',GradientType=0 );
}


/* // -----------------------------------------------------------------------
   // DIALPAD
   // -------------------------------------------------------------------- */

#pubnub-dialpad {
    z-index: 1000;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    background: #696869;
    width: 320px;
    height: 460px;
}
#pubnub-dialpad-footer {
    height: 50px;
    line-height: 50px;
    background: #000;
    color: #fff;
    font-weight: 300;
    text-align: center;
}
#pubnub-dialpad-header {
    overflow: hidden;

    color: #fdffff;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 74px;
    height: 74px;

    background: rgb(71,99,133);
    background: -moz-linear-gradient(top, rgba(71,99,133,1) 0%, rgba(22,48,83,1) 50%, rgba(6,35,71,1) 51%, rgba(0,32,68,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(71,99,133,1)), color-stop(50%,rgba(22,48,83,1)), color-stop(51%,rgba(6,35,71,1)), color-stop(100%,rgba(0,32,68,1)));
    background: -webkit-linear-gradient(top, rgba(71,99,133,1) 0%,rgba(22,48,83,1) 50%,rgba(6,35,71,1) 51%,rgba(0,32,68,1) 100%);
    background: -o-linear-gradient(top, rgba(71,99,133,1) 0%,rgba(22,48,83,1) 50%,rgba(6,35,71,1) 51%,rgba(0,32,68,1) 100%);
    background: -ms-linear-gradient(top, rgba(71,99,133,1) 0%,rgba(22,48,83,1) 50%,rgba(6,35,71,1) 51%,rgba(0,32,68,1) 100%);
    background: linear-gradient(to bottom, rgba(71,99,133,1) 0%,rgba(22,48,83,1) 50%,rgba(6,35,71,1) 51%,rgba(0,32,68,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#476385', endColorstr='#002044',GradientType=0 );
}
.digit-cell:hover {
    background: rgb(0,183,234);
    background: -moz-linear-gradient(top, rgba(0,183,234,1) 0%, rgba(0,158,195,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,183,234,1)), color-stop(100%,rgba(0,158,195,1)));
    background: -webkit-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
    background: -o-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
    background: linear-gradient(to bottom, rgba(0,183,234,1) 0%,rgba(0,158,195,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 );
}
.digit-cell:active {
    background: #204a87;
}
.digit-cell,
.digit-cell-end,
.digit-cell-bottom {
    overflow: hidden;
    cursor: pointer;
    display: block;
    float: left;
    
    width: 104px;
    height: 67px;

    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.4);
    border-right: 1px solid rgba(0,0,0,0.8);
    border-bottom: 1px solid rgba(0,0,0,0.8);

    background: rgb(28,36,46);
    background: -moz-linear-gradient(top, rgba(28,36,46,1) 0%, rgba(13,20,30,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(28,36,46,1)), color-stop(100%,rgba(13,20,30,1)));
    background: -webkit-linear-gradient(top, rgba(28,36,46,1) 0%,rgba(13,20,30,1) 100%);
    background: -o-linear-gradient(top, rgba(28,36,46,1) 0%,rgba(13,20,30,1) 100%);
    background: -ms-linear-gradient(top, rgba(28,36,46,1) 0%,rgba(13,20,30,1) 100%);
    background: linear-gradient(to bottom, rgba(28,36,46,1) 0%,rgba(13,20,30,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c242e', endColorstr='#0d141e',GradientType=0 );
}
.digit-cell-mid {
    width: 106px;
}
.digit-cell-bottom {
    height: 60px;
    background: rgb(12,43,70);
    background: -moz-linear-gradient(top, rgba(12,43,70,1) 0%, rgba(0,22,48,1) 50%, rgba(0,16,45,1) 51%, rgba(0,16,46,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(12,43,70,1)), color-stop(50%,rgba(0,22,48,1)), color-stop(51%,rgba(0,16,45,1)), color-stop(100%,rgba(0,16,46,1)));
    background: -webkit-linear-gradient(top, rgba(12,43,70,1) 0%,rgba(0,22,48,1) 50%,rgba(0,16,45,1) 51%,rgba(0,16,46,1) 100%);
    background: -o-linear-gradient(top, rgba(12,43,70,1) 0%,rgba(0,22,48,1) 50%,rgba(0,16,45,1) 51%,rgba(0,16,46,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,43,70,1) 0%,rgba(0,22,48,1) 50%,rgba(0,16,45,1) 51%,rgba(0,16,46,1) 100%);
    background: linear-gradient(to bottom, rgba(12,43,70,1) 0%,rgba(0,22,48,1) 50%,rgba(0,16,45,1) 51%,rgba(0,16,46,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c2b46', endColorstr='#00102e',GradientType=0 );
}
.digit-cell-delete {
    background: transparent url(../img/delete-icon.png) 0px 0px no-repeat;
    height: 60px;
}
.digit-cell-delete:hover {
    background: #ef2929 url(../img/delete-icon.png) 0px 0px no-repeat;
}
.digit-cell-delete:active {
    background: #a40000 url(../img/delete-icon.png) 0px 0px no-repeat;
}
.digit {
    position: relative;
    color: #fdffff;
    text-shadow: 0 -1px 2px rgba(0,0,0,0.9);
    font-weight: 700;
    font-size: 34px;
    height: 43px;
    line-height: 46px;
    text-align: center;
}
.digit-cell-call {
    background: rgb(157,213,58);
    background: -moz-linear-gradient(top, rgba(157,213,58,1) 0%, rgba(161,213,79,1) 50%, rgba(128,194,23,1) 51%, rgba(124,188,10,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,213,58,1)), color-stop(50%,rgba(161,213,79,1)), color-stop(51%,rgba(128,194,23,1)), color-stop(100%,rgba(124,188,10,1)));
    background: -webkit-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
    background: -o-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
    background: -ms-linear-gradient(top, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
    background: linear-gradient(to bottom, rgba(157,213,58,1) 0%,rgba(161,213,79,1) 50%,rgba(128,194,23,1) 51%,rgba(124,188,10,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9dd53a', endColorstr='#7cbc0a',GradientType=0 );
}

.digit-cell-call:hover {
    background: #8ae234;
    border: 1px solid rgba(0,100,0,0.8);
}
.digit-cell-call:active {
    background: #4e9a06;
}

.letters {
    color: #80878f;
    font-weight: 700;
    font-size: 14px;
    height: 10px;
    line-height: 20px;
    text-align: center;
}
.digit-cell:hover .letters {
    color: #fff;
}

/* // -----------------------------------------------------------------------
   // UTILITYS
   // -------------------------------------------------------------------- */

.pubnub-clear {
    clear: both;
}
.pubnub-relative {
    position: relative;
}

